__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/
ENV/

.idea/
.vscode/

build/
dist/

*.exe
*.msi

data/
logs/
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal

*.log
*.tmp
*.bak

tools/clearwork_key_admin/keys/private_key.pem
tools/clearwork_key_admin/data/*
!tools/clearwork_key_admin/data/.gitkeep
